<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Formulario Decoración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form_decoracion" class="form" (submit)="validarFormulario()">
    <ion-list>
      <ion-item>
        <ion-label>Nombre: </ion-label>
        <ion-input formControlName="nombre" placeholder="Nombre" type="text" id="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tipo:</ion-label>
        <ion-select placeholder="Tipo" formControlName="tipo">
          <ion-select-option value="PREMIUM">Premium</ion-select-option>
          <ion-select-option value="STANDAR">Standard</ion-select-option>          
          <ion-select-option value="LOWCOST">Low-cost</ion-select-option> 
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Precio: </ion-label>
        <ion-input formControlName="precio" placeholder="Precio" type="number" id="precio"></ion-input>
      </ion-item>    
      <ion-item>
        <ion-label>Foto: </ion-label>
        <ion-input formControlName="foto" placeholder="Foto" type="text" id="foto"></ion-input>
      </ion-item>
    </ion-list>
    <ion-buttons class="botoneraHorizontal">      
      <ion-button *ngIf="!es_editar_decoracion" type="submit" expand="block" shape="round" color="success"
        [disabled]="form_decoracion.invalid" (click)="crearDecoracion()">
        Crear
      </ion-button>
      <ion-button type="button" expand="block" shape="round" color="danger" (click)="mostrarAlerta()">
        Cancelar
      </ion-button>
      <ion-button *ngIf="es_editar_decoracion" type="submit" expand="block" shape="round" color="success"
        [disabled]="form_decoracion.invalid" (click)="editarDecoracion(decoracion!)">
        Editar
      </ion-button>
    </ion-buttons>
  </form>
</ion-content>