<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/evento/eventos"></ion-back-button>
    </ion-buttons>
    <ion-title>Edición de evento {{evento.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <ion-list class="center" lines="none">
    <ion-item></ion-item>    
    <ion-button (click)="editarTipo()">Editar tipo</ion-button>
    <ion-item></ion-item>
    <ion-button (click)="editarNombre()">Editar nombre</ion-button>
    <ion-item></ion-item>
    <ion-button (click)="editarFechaHora()">Editar fecha y hora</ion-button>
    <ion-item></ion-item>
    <ion-button (click)="editarUbicacion()">Editar ubicación</ion-button>
    <ion-item></ion-item>
    <ion-button (click)="editarDecoracion()">Editar decoración</ion-button>
    <ion-item></ion-item>
    <ion-button (click)="editarMenu()">Editar menú</ion-button>
    <ion-item></ion-item>
    <ion-button (click)="editarComensalesMesas()">Editar mesas y comensales</ion-button>
  </ion-list>
</ion-content>
